.page {
  .page__content {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }

  .page__background {
    background-size: cover;
    background: url('images/background1.jpg') no-repeat center !important;
  }
}

.page--login {
  .page__content, .page--material__content {
    background-size: cover;
    background: url('images/background1.jpg') no-repeat center !important;
  }
}